body {
font-family: "Comic Relief", system-ui;
font-size: 22.5px;
background-image: url("../img/3d-rendering-questions-background_23-2151455632.avif");
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
image-rendering: crisp-edges;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
header{
    text-align: center;
    padding-bottom: 40px;
}
div{
    text-align: center;
    padding-bottom: 25px;
   font-family:  "Comic Relief", system-ui;
   font-size: 25px;
   color: blueviolet;
   animation: fadeIn 0.5s ease-in;
}
h1 {
  margin-top: 200px;  
  color: purple;
}

h2 {
  margin-top: 10px;  
}
button{
    background-color: aqua;
    border: none;
    padding: 14px 25px; 
    border-radius: 15px;   
}
button:hover{
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 
}
input{
    border: none;
    padding: 14px 25px; 
    border-radius: 15px;  
}
